{
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "arrowParens": "avoid",
    "trailingComma": "es5",
    "printWidth": 80,
    "endOfLine": "auto",
    "htmlWhitespaceSensitivity": "ignore"
}
